.customer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0% 0% 0;
}
.customer-header {
  width: 50%;
  padding: 5% 0%;
  text-align: center;
}
.customer-header h1 {
  font-size: 2.5rem;
  padding: 10% 15%;
  text-align: center;
}

.customer-header p {
  padding: 5% 0%;
  font-size: 1.3rem;
  text-align: center;
}
.story-container {
  padding-left: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.story-container #story-active {
  border: 3px solid rgb(225, 63, 82);
}
.stories {
  width: 30%;
  padding: 2%;
  border-radius: 15px;
  border: 3px solid rgb(232, 223, 226);
}
#third-story {
  border-radius: 15px 0 0 15px;
  border-right: none;
}
.story-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-image-details {
  padding: 10px 0;
  display: flex;
}
.name-address {
  padding: 0 15px;
}
.name-address .name {
  font-weight: bold;
}
.name-address .address {
  font-weight: bold;
  color: rgb(39, 43, 43);
}

.profile-image {
  width: 50px;
  height: 50px;
}
.rating {
  /* padding: 0 3%; */
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.rating .rate {
  font-weight: bold;
  margin-right: 3%;
}
.rating .star {
  /* margin: 0 10%; */
  display: flex;
  width: 20px;
  height: 20px;
}
.review p {
  line-height: 30px;
  font-size: 1.1rem;
}
.story-handler {
  width: 80%;
  padding: 3% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story-handler .dots button {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-radius: 10px;
  background: rgb(255, 3, 45);
  border: none;
}
.story-handler .dots .active {
  width: 50px;
  background: rgb(255, 3, 45);
  border: none;
}
.story-handler .arrows {
  display: flex;
}
.story-handler .arrows button {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 10%;
  border-radius: 25px;
  border: none;
  border: 2px solid rgb(255, 3, 45);
}
.arrows .active {
  background: rgb(255, 3, 45);
}

.story-handler .arrows button:hover {
  background: rgb(255, 3, 45);
}
@media (max-width: 500px) {
  .review p {
    line-height: 20px;
    font-size: 1rem;
  }
  .profile-image {
    width: 25px;
    height: 25px;
  }
  .story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .stories {
    width: 80%;
    margin: 10px 10px;
  }
  .star {
    width: 10px;
    height: 10px;
  }
  .story-handler {
    justify-content: center;
  }
  .dots {
    display: none;
  }
}
@media (max-width: 700px) {
  .review p {
    line-height: 20px;
    font-size: 1rem;
  }
  .profile-image {
    width: 25px;
    height: 25px;
  }
  .profile-image-details,
  .story-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .customer-header {
    width: 70%;
    padding: 5% 0%;
    text-align: center;
  }
  .customer-header h1 {
    font-size: 2rem;
    padding: 8% 10%;
    text-align: center;
  }

  .customer-header p {
    padding: 3% 0%;
    font-size: 1.1rem;
    text-align: center;
  }
}
